
  <div class="comments">
    <form>
    <div class="stars">
    
    <% if user_signed_in? %>
      <%= form_for :evaluation, url: {controller: 'evaluations', action: 'create'} do |f| %>

       <%= f.radio_button(:eval, 1) , class:"star-1" %>
      <%= f.label(:evaluation, "*"), class:"star-1" %>
      <%= f.radio_button(:eval, 2), class:"star-2" %>
      <%= f.label(:evaluation, "*"), class:"star-2"  %>
      <%= f.radio_button(:eval, 3) , class:"star-3"%>
      <%= f.label(:evaluation, "*"), class:"star-3" %>
      <%= f.radio_button(:eval, 4) , class:"star-4"%>
      <%= f.label(:evaluation, "*"), class:"star-4" %>
      <%= f.radio_button(:eval, 5) , class:"star-5"%>
      <%= f.label(:evaluation, "*"), class:"star-5" %>
     

      <div class="field">
          <%= f.label :content %><br>
          <%= f.text_area :content %>
      </div>
       </span>
      <div class="actions">
          <%= f.submit %>
          <% end %>
        <% end %>
      </div>
    </form>
  </div>


    