


<% @cards.each do |card| %>
  <p><%= image_tag card.photos[0] %></p>
  <p>activity_title:<%= card.activity_title %></p>
  <p>city:<%= card.city %></p>
  <p>price:<%= card.price %></p>
  <p><%= link_to 'display', card_path(card.id) %></p><br>
<% end %>
