<div class="discipline-title">
  <h1><%= @discipline.name  %></h1>
</div>

<div class="container">
  <div class="card-deck">
    <% @cards.each do |card| %>
	    <%= link_to card_path(card.id), style:"margin-bottom:30px" do %>
        <%= render partial: "cards/thumbnail", locals: {card: card} %>
	    <% end %>
      <% end%>
  </div>
</div>


<div id="map_discipline">  <!-- display Google map -->
  </div>

<script>
  var map = new google.maps.Map(document.getElementById('map_discipline'), {
    center: {lat: -8.6, lng: 115},
    zoom: 9
  })
<% @cards.each do |card| %>
  new google.maps.Marker({
    map: map,
    position: {lat: <%= card.latitude %>, lng: <%= card.longitude %>},
  }).addListener('click', function() {
          map.setCenter(this.getPosition());
          map.setZoom(9);
          new google.maps.InfoWindow({
    content: "<%=card.activity_title%><br><%= card.address%>"
  }).open(map, this);
    });

<% end %>
</script> 
