<div class="discipline-title">
  <h1><%= @discipline_name %></h1>
</div>

<div class="container">
  <div class="card-deck">
    <% @cards.each do |card| %>
	    <%= link_to card_path(card.id) do %>
	      <div class="wrapper-card">
          <% if card.photos.attached? %>
	        <div><%= image_tag card.photos[0], class: 'card-img-top' %></div>
          <% else %>
          <div><%= image_tag "fond-gris.jpg", class: 'card-img-top' %></div>
          <% end %>
          <div class="card-body-hp">
            <div class="title-city">
              <h5 class="card-title"><%= card.activity_title %></h5>
              <p class="card-city"><%= card.city %></p>
            </div>
              <p class="card-price">IDR<%= card.price %></p>
          </div>
	      </div>
	    <% end %>
	  <% end %>
  </div>
</div>
