<div class="discipline-title">
  <h1><%= @discipline_name %></h1>
</div>

<div class="container">
  <div class="card-deck">
    <% @cards.each do |card| %>
	    <%= link_to card_path(card.id) do %>
	      <div class="wrapper-card">
	        <div><%= image_tag card.photos[0], class: 'card-img-top' %>
	        </div>
          <div class="card-body-hp">
            <div class="title-city">
              <h5 class="card-title"><%= card.activity_title %></h5>
              <p class="card-city"><%= card.city %></p>
            </div>
              <p class="card-price"><%= card.price %>IDR/per person</p>
          </div>
	      </div>
	    <% end %>
	  <% end %>
  </div>
</div>
