<!-- TOP BANNER -->
<section id="section01" class="scroll_down">
  <div class="background_lp">
  <h3>DISCOVER LOCAL SPORTS IN BALI</h3>
    <%= form_for @search do |f| %>
      <div class="center-on-page">     
        <%= f.collection_select(:discipline_id, Discipline.all, :id, :name,{ prompt: "Select a sport" }) %>
        <%= f.submit "Search" ,class:"search_btn_sub"%>            
      </div>
    <% end %> 
  </div>
  <a href="#surf"><span></span>Scroll down</a>
</section>


<h2 class="discipline-title-hp">Surf</h2>
  <div class="card-deck-hp">
    <% @cards_yoga.take(4).each do |card| %>
      <%= link_to card_path(card.id) do %>
        <div class="wrapper-card">
          <div><%= image_tag card.photos[0], class: 'card-img-top' %>
          </div>
          <div class="card-body">
            <div><h5 class="card-title"><%= card.activity_title %></h5></div>
            <div><p class="card-city"><%= card.city %></p></div>
            <div><p class="card-city">IDR <%= card.price %></p></div>
          </div>
        </div>
      <%end%>        
    <%end%>
  </div>
</div> 

<div class="link-to-list">
  <a href="/disciplines/1">See all surf experiences </a>
  <i class="fas fa-angle-double-right"></i>
</div>

<h2 class="discipline-title-hp">Yoga</h2>
  <div class="card-deck-hp">
    <% @cards_yoga.take(4).each do |card| %>
      <%= link_to card_path(card.id) do %>
        <div class="wrapper-card">
          <div><%= image_tag card.photos[0], class: 'card-img-top' %>
          </div>
          <div class="card-body">
            <div><h5 class="card-title"><%= card.activity_title %></h5></div>
            <div><p class="card-city"><%= card.city %></p></div>
            <div><p class="card-city">IDR <%= card.price %></p></div>
          </div>
        </div>
      <%end%>        
    <%end%>
  </div>
</div> 

<div class="link-to-list">
  <a href="/disciplines/2">See all yoga experiences </a>
  <i class="fas fa-angle-double-right"></i>
</div>

<h2 class="discipline-title-hp">Scuba Diving</h2>
  <div class="card-deck-hp">
    <% @cards_scuba.take(4).each do |card| %>
      <%= link_to card_path(card.id) do %>
        <div class="wrapper-card">
          <div><%= image_tag card.photos[0], class: 'card-img-top' %>
          </div>
          <div class="card-body">
            <div><h5 class="card-title"><%= card.activity_title %></h5></div>
            <div><p class="card-city"><%= card.city %></p></div>
            <div><p class="card-city">IDR <%= card.price %></p></div>
          </div>
        </div>
      <%end%>        
    <%end%>
  </div>
</div> 

<div class="link-to-list">
  <a href="/disciplines/3">See all scuba diving experiences </a>
  <i class="fas fa-angle-double-right"></i>
</div>


