<!-- TOP BANNER -->
<section id="section01" class="scroll_down">

  <div class="background_lp">
    <h3>DISCOVER LOCAL SPORTS IN BALI</h3>

     <%= form_for @search do |f| %>

         <div class="center-on-page">
      
                <%= f.collection_select(:discipline_id, Discipline.all, :id, :name,{ prompt: "Select sports" }) %>
                <%= f.submit "GO" ,class:"search_btn_sub"%>
               

                <% end %>

           
         </div>

  </div>
  <a href="#disciplines"><span></span>Scroll down</a>

</section>

<section id="disciplines" class="disciplines_list">
  <% @disciplines.each do |discipline| %>
    <h3><%= discipline.name %></h3>
    <% end %>
</section>

<body>


<% @disciplines.each do |discipline| %>
    <%= link_to "#{discipline.name}", discipline_path(discipline.id)%>

    <% end %>

</body>

