<%= form_for(@cards) do |f| %>

	<%= f.label :activity_title %><br>
	<%= f.text_field :activity_title %><br>

	<%= f.label :short_description %><br>
	<%= f.text_field :short_description %><br>

	<%= f.label :long_description %><br>
	<%= f.text_field :long_description %><br>

	<%= f.label :organization %><br>
	<%= f.select :organization, Card.organizations.keys %><br>

	<%= f.label :address %><br>
	<%= f.text_field :address %><br>


	<%= f.label :country %><br>
	<%= f.text_field :country %><br>

	<%= f.label :price %><br>
	<%= f.text_field :price %><br>

	<%= f.label :length %><br>
	<%= f.text_field :length %><br>

	<%= f.label :opening_hour %><br>
	<%= f.text_field :opening_hour %><br>

	<%= f.label :closing_hour %><br>
	<%= f.text_field :closing_hour %><br>

	<%= f.label :whatsapp %><br>
	<%= f.text_field :whatsapp %><br>

	<%= f.label :facebook %><br>
	<%= f.text_field :facebook %><br>

	<%= f.label :instagram %><br>
	<%= f.text_field :instagram %><br>

	   <%= f.submit %><br>

<% end %> 	


 <style>
        body { margin:0; padding:0; }
        #map { position:absolute; top:0; bottom:0; width:100%; }
    </style>
</head>
<body>

<style type='text/css'>
    #info {
        display: block;
        position: relative;
        margin: 0px auto;
        width: 50%;
        padding: 10px;
        border: none;
        border-radius: 3px;
        font-size: 12px;
        text-align: center;
        color: #222;
        background: #fff;
    }
</style>

<div id='map'></div>
<pre id='info'></pre>
<script>
mapboxgl.accessToken = 'pk.eyJ1IjoiYXhlbGxldHJ0IiwiYSI6ImNqcDlxM2dpYTAwdTAzcHVjY2lyenBxNjYifQ.xFyc7pDvBd6jF0QvxjYbeQ';
var map = new mapboxgl.Map({
    container: 'map', // container id
    style: 'mapbox://styles/mapbox/streets-v9',
    center: [-74.50, 40], // starting position
    zoom: 9 // starting zoom
});

map.on('mousemove', function (e) {
    document.getElementById('info').innerHTML =
        // e.point is the x, y coordinates of the mousemove event relative
        // to the top-left corner of the map
        JSON.stringify(e.point) + '<br />' +
        // e.lngLat is the longitude, latitude geographical position of the event
        JSON.stringify(e.lngLat);
});
</script>