<div class="div"> 

<%= form_for(@card) do |f| %>

	<div class="form-group"> 


	<div class="step1 step"> 

		<%= f.label :Discipline %>
		<%= f.collection_select :id, Discipline.order(:name), :id, :name, {include_blank: false}, {class: "form-control"} %>

		<%= f.label :Spoken_Language %>
		<%= f.collection_select :id, SpokenLanguage.order(:name), :id, :name, {include_blank: false}, {class: "form-control"} %>

		<%= f.label :activity_title %><br>
		<%= f.text_field :activity_title %><br>

		<%= f.label :short_description %><br>
		<%= f.text_field :short_description %><br>

		<%= f.label :long_description %><br>
		<%= f.text_field :long_description %><br>

		<%= f.label :organization %><br>
		<%= f.select :organization, Card.organizations.keys %><br>

		<%= f.label :price %><br>
		<%= f.text_field :price %><br>

		<%= f.label :length %><br>
		<%= f.text_field :length %><br>
		

 		Opening hours: <input type="time" id="appt" value="<%= form_authenticity_token %>" name="appt" min="00:00" max="23:59">
 		Closing hours: <input type="time" id="appt2" value="<%= form_authenticity_token %>" name="appt2" min="00:00" max="23:59"> <br> 

  		<%= f.label :photos %><br>
  		<%= f.file_field :photos, multiple: true %><br>

		<button id="next_step1" >Next</button>

		<button id="next_step1">Next</button>
		<%= f.submit "BROUILLION" %><br>


	</div> 


	<div class="step2 step"> 


		<%= f.label :whatsapp %><br>
		<%= f.text_field :whatsapp %><br>

		<%= f.label :facebook %><br>
		<%= f.text_field :facebook %><br>

		<%= f.label :instagram %><br>
		<%= f.text_field :instagram %><br>

		<button id="back_step2" class="previous">Previous</button> 
		<button id="next_step2">Next</button>
		

		<button id="back_step2">Previous</button>
		<%= f.submit "BROUILLION" %><br> 
	</div> 


	<div class="step3 step"> 

	
		<%= f.label :address %><br>
		<%= f.text_field :address %><br>

		<%= f.label :city %><br>
		<%= f.select :city, Card.cities.keys, {id: "city_input", include_blank: true} %><br>

		<%= f.hidden_field :country %>


	<div id="map"> 
	
	</div> 

	<input type="hidden"  id="lat" name="lat" />
	<input type="hidden"  id="lng" name="lng"/>

	<button id="back_step3">Previous</button> 

	   	<%= f.submit "PUBLIER" %><br>
	   	<%= f.submit "BROUILLON" %><br>
	</div> 
	</div> 

	<% end %> 	

	
	<div class ="last_buttons"> 
		<button id="back_step3">Previous</button> 
		<button type="submit" class="btn-blue">Submit</button>
	</div> 


</div> 

<script>
	const input = document.getElementById('card_address')

	var map = new google.maps.Map(document.getElementById('map'), {
   		center: {lat: -8.6, lng: 115},
   		zoom: 9
 	})
	const autocomplete = new google.maps.places.Autocomplete(input)
	autocomplete.bindTo('bounds', map)
	const geocoder = new google.maps.Geocoder()

	var marker = new google.maps.Marker({
		map: map,
		anchorPoint: new google.maps.Point(0, -29)
	})

	autocomplete.addListener('place_changed', function() {
	    marker.setVisible(false);
    	var place = autocomplete.getPlace();
		if (!place.geometry) {
			window.alert("No details available for input: '" + place.name + "'");
			return;
		}
		if (place.geometry.viewport) {
			map.fitBounds(place.geometry.viewport)
		} else {
			map.setCenter(place.geometry.location)
			map.setZoom(19)
		}

		marker.setPosition(place.geometry.location);
		marker.setVisible(true);
		let data = parseLocation(place)
   		fillField(data)
	})

	let clicks = 0, timer

	google.maps.event.addListener(map, 'click', function(event) {
		clicks++
		if(clicks === 1){
			//wait for a second clic- if second clic, cleqr timeout otherwise run the function
			timer = setTimeout(function(){
				marker.setPosition(event.latLng)
				marker.setVisible(true)	
			
				let data ={}
				data.long = event.latLng.lng
				data.lat = event.latLng.lat
				fillField(data)

				clicks=0
			},200)
		} else {
			clearTimeout(timer)
			clicks=0
		}
	})

	google.maps.event.addListener(map, 'dblclick', function(event) {
		clearTimeout(timer)
		clicks=0
	})


	function parseLocation(item){
		let data ={}
		data.long = item.geometry.location.lng()
		data.lat = item.geometry.location.lat()

		return data
  	}

	function fillField(data){
		$('#lat').val(data.lat)
		$('#lng').val(data.long)
	}

</script>


<script> 
	$('.step1').show();
	$('.step2').hide();
	$('.step3').hide();
	$('.last_buttons').hide();
	$('#next_step1').on("click", function(e){
		e.preventDefault();
		$('.step1').hide();
		$('.step2').show();
		$('.step3').hide();
	})
	$('#next_step2').on("click", function(e){
		e.preventDefault();
		$('.step1').hide();
		$('.step2').hide();
		$('.last_buttons').hide();
		$('.step3').show();
	})


	$('#back_step2').on("click", function(e){
		e.preventDefault();
		$('.step1').show();
		$('.step2').hide();
		$('.step3').hide();
	})
	$('#back_step3').on("click", function(e){
		e.preventDefault();
		$('.step1').hide();
		$('.step2').show();
		$('.step3').hide();
		$('.last_buttons').hide();
	})


	$("#map").hide();
	var addressChanged = false;
	var cityChanged = false;
	$('#card_address').on("input", function(){
		addressChanged = true;
		console.log(addressChanged)
		console.log(cityChanged)
		if(addressChanged && cityChanged){
			$("#map").show();
		}
	});

	$("#card_city").change(function(){
		cityChanged = true;
		if(addressChanged && cityChanged){
			$("#map").show();
			$('.last_buttons').show();
		}
	})
</script> 




