<%= @card.activity_title %>

<% @languages.each do |l| %>
  <%= l.name %>
<% end %>

<% @disciplines.each do |d| %>
  <%= d.name %>
<% end %>



<%= form_for :evaluation, url: {controller: 'evaluations', action: 'create'} do |f| %>
<%= f.radio_button(:eval, 1) %>
<%= f.label(:evaluation, "1") %>
<%= f.radio_button(:eval, 2) %>
<%= f.label(:evaluation, "2") %>
<%= f.radio_button(:eval, 3) %>
<%= f.label(:evaluation, "3") %>
<%= f.radio_button(:eval, 4) %>
<%= f.label(:evaluation, "4") %>
<%= f.radio_button(:eval, 5) %>
<%= f.label(:evaluation, "5") %>

  <div class="field">
  <%= f.label :content %><br>
  <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<h3>moyenne: <%= @moyenne %> </h3>
<% @evaluations.each do |evaluation| %>
<span> -------------------------------------- </span>
<div>
    <p><%= evaluation.eval %></p>
    <p><%= evaluation.comment %></p>
</div>
<% end %>
