<!-- TOP BANNER -->
<div class="background">
  <div class="bg-text">
    <h3><%= @card.activity_title %></h3>
    <p>"<%=@card.short_description%>"</p>
  </div>
</div>

<!-- DISCIPLINE -->
<div class="container">
  <div class="content">
    <div class="activity">
      <p>
        <% @disciplines.each do |d| %>
        <%= d.name %>
        <% end %>
      </p>
    </div>
    <div class="description">
      <p id="description_text"><%=@card.long_description%></p>
    </div>

<!-- PRACTICAL INFORMATION -->
    <div class="practical_info">
      <h3 id="practical_info_title">Practical Information</h3>
        <ul id="practical_info">
          <div class="col-2">
            <li><i class="fas fa-map-pin fa-2x"></i></li>
          </div>
          <div class="col-4">
            <li><%=@card.address%></li>
            <li><span><%=@card.price%></span></li>
          </div>
          <div class="col-3">
            <li><span>Language</span></li>
          </div>
          <div class="col-2">
            <li>
              <% @languages.each do |l| %>
              <%= l.name %>
              <% end %>
            </li>
          </div>
        </ul>
    </div>

<!-- CAROUSEL -->
    <div id="slideshow">
      <% @card.photos.each do |card| %>      
        <div class="mySlides">
          <%= image_tag card, style: "width:100%" %>      
        </div> 
      <% end %>
      <!-- BOUTONS -->
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
      <div class="row" id="slideshow_bottom">
        <% @card.photos.each_with_index do |card, n| %>      
          <div class="column">
            <%= image_tag card, class: "demo cursor", style: "width:100%", onclick: "currentSlide(#{n + 1})"%>
          </div>
        <% end %>
      </div> 
      <div id="slideshow">
        <div id="slide1" class="mySlides">
            <%= image_tag"slider_surf1.jpg", style: "width:100%"%>
        </div>
        <div class="mySlides">
            <%= image_tag"slider_surf2.jpg", style: "width:100%"%>
        </div>
        <div class="mySlides">
            <%= image_tag"slider_surf3.jpg", style: "width:100%"%>
        </div>
        <div class="mySlides">
           <%= image_tag"slider_surf4.jpg", style: "width:100%"%>
        </div>
        <div class="mySlides">
            <%= image_tag"slider_surf5.jpg", style: "width:100%"%>
        </div>
      </div> 
  
      <!-- APERCU PHOTOS -->
        <div class="row" id="slideshow_bottom">
        <div class="column">
          <%= image_tag "slider_surf1.jpg", class: "demo cursor", style: "width:100%", onclick: "currentSlide(1)"%>
        </div>
        <div class="column">
          <%= image_tag "slider_surf2.jpg", class: "demo cursor", style: "width:100%", onclick: "currentSlide(2)"%>
        </div>
        <div class="column">
           <%= image_tag "slider_surf3.jpg", class: "demo cursor", style: "width:100%", onclick: "currentSlide(3)"%>
        </div>
        <div class="column">
          <%= image_tag "slider_surf4.jpg", class: "demo cursor", style: "width:100%", onclick: "currentSlide(4)"%>
        </div>
        <div class="column">
          <%= image_tag "slider_surf5.jpg", class: "demo cursor", style: "width:100%", onclick: "currentSlide(5)"%>
        </div>
      </div>
    </div>
  </div>

    <%= render 'evaluations/index' %>

  <div class="sidebar">
    <div id="contact_info">
      <div>
        <p id="contact_name">Jaya</p>
        <%= image_tag "coach_pic.jpg", class: "coach_picture"%>
      </div>
      <button class="display_contact_button" onclick="display_contact()">Book your session with me !</button>
      <div id="display_contact_info">
        <ul>
          <li id="icon"><i class="fab fa-whatsapp fa-2x"></i>A BRANCHER AU BACK</li>
          <li>
            <a href="http://www.facebook.com" target="_blank" id="icon"><i class="fab fa-facebook-square fa-2x"></i></a>
            <a href="http://www.instagram.com" target="_blank" id="icon"><i class="fab fa-instagram fa-2x"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

