<<<<<<< HEAD
<link rel="stylesheet" type="text/css" href="/components/navbar.scss">

<nav id="nav" class="navbar navbar-expand-lg navbar-dark">
  <%= image_tag "logo.png", class: "logo"%>
  <a id= "name_logo">Sports List</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a id="experience_button" class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a id="experience_button" class="nav-link" href="/cards/new">Offer an experience</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Professionals</a>
      </li>
      <% if professional_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            <% if current_professional.avatar.attached? %>
              <div class="nav-link-img <%= image_tag current_professional.avatar %> <%= image_tag current_professional.avatar, height: 40, width: 40, class: "rounded-circle"%> </div>
            <% end %> 
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <div class="dropdown-item" <%= current_professional.first_name %>"> <%= current_professional.first_name %> </div>
            <a <%= link_to "Edit Account", edit_professional_registration_path, :class => "dropdown-item" %> </a>
            <a class="dropdown-item" <%= link_to "Sign Out", destroy_professional_session_path, method: :delete, :class => "dropdown-item" %>
            </a>
          </div>
        </li>   
      <% else %> 
        <li class="nav-item">
          <a class="nav-link" <%= link_to "Sign in", new_professional_session_path %> </a>
        </li> 
        <li class="nav-item"> 
          <a class="nav-link" <%= link_to "Sign up", new_professional_registration_path %> </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" <%= link_to "Sign in", new_user_session_path %> </a>
        </li> 
        <li class="nav-item"> 
          <a class="nav-link" <%= link_to "Sign up", new_user_registration_path %> </a>
        </li> 
      <% end %> 
    </ul>
  </div> 
</nav>

<!-- <nav>
    <ul>
    <% if professional_signed_in? %>
    <li>
    <%= link_to "Sign Out", destroy_professional_session_path, method: :delete %>
    </li>
    <li>
        <%= current_professional.email %>
    </li>
    <li>
        <%= link_to "Edit Account", edit_professional_registration_path %>
    </li>
    <% else %>
    <li>
    <%= link_to "sign in", new_professional_session_path %>
    </li>
    <li>
    <%= link_to "sign up", new_professional_registration_path %>
    </li>

	    	<% if user_signed_in? %>
	       	 <% if current_user.avatar_user.attached? %>
	           <%= image_tag current_user.avatar_user, height: 60, width: 60, class: "rounded-circle"  %> 
	 		 <% end %> 
	 		<% end %> 
	 	</div>

</nav> -->


