<link rel="stylesheet" type="text/css" href="/components/navbar.scss">

<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <%= image_tag "logo.png", class: "logo"%>
  <a id= "name_logo">Sports List</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Become SL Coach</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Help</a>
      </li>
    </ul>
  </div>
<ul>
    <% if professional_signed_in? %>
    <li>
    <%= link_to "Sign Out", destroy_professional_session_path, method: :delete %>
    </li>
    <li>
        <%= current_professional.email %>
    </li>
    <li>
        <%= link_to "Edit Account", edit_professional_registration_path %>
    </li>
    <% else %>
    <li>
    <%= link_to "sign in", new_professional_session_path %>
    </li>
    <li>
    <%= link_to "sign up", new_professional_registration_path %>
    </li>

    <% end %>
</ul>
<ul>
    <% if user_signed_in? %>
    <li>
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
    </li>
    <li>
        <%= current_user.email %>
    </li>
    <li>
        <%= link_to "Edit Account", edit_user_registration_path %>
    </li>
    <% else %>
    <li>
    <%= link_to "sign in (user)", new_user_session_path %>
    </li>
    <li>
    <%= link_to "sign up (user)", new_user_registration_path %>
    </li>

    <% end %>
</ul>


</nav>
