<div class="modal fade" id="signUpModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Sign Up</h5>
        <button type="button" class="close" data-dismiss="modal">
              <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
          <div class="field">
            <%= f.label :profile_picture %><br/>
            <%= f.file_field :avatar%>
          </div>
          <div class="field">
             <%= f.text_field :username, placeholder: "Username", :pattern => '[a-zA-Z0-9\-_]{3,20}' %>
          </div>
          <div class="field">
            <%= f.text_field :first_name, placeholder: "First name", :pattern => '[a-zA-Z]{3,20}' %>
          </div>
          <div class="field">
            <%= f.text_field :last_name, placeholder: "Last name", :pattern => '[a-zA-Z]{3,25}' %>
          </div>
          <div class="field">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
          </div>
          <div class="field">
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
            <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password" %>
          </div>
          <div class="field">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password" %>
          </div>
          <div class="actions">
            <%= f.submit "Sign up", class: 'btn btn-sign' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
