<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :avatar %><br />
    <%= f.file_field :avatar%>
  </div>

   <div class="field">
   <%= f.label :username %>
   <%= f.text_field :username, :pattern => '^[a-zA-Z][a-zA-Z\-_)]{2,9}'%> <!-- start with a letter and can contain - and _ -->
   </div>

  <div class="field">
   <%= f.label :first_name, :pattern => '[a-zA-Z]{3,15}' %> <!-- only letters (3 - 15 characters) -->
   <%= f.text_field :first_name %>
   </div>

   <div class="field">
    <%= f.label :last_name, :pattern => '[a-zA-Z]{3,20}' %> <!-- only letters (3 - 20 characters) -->
    <%= f.text_field :last_name %>
   </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %> <!-- devise-->
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %> <!-- devise -->
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %> <!-- devise -->
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
